.idea

# python
.venv
__pycache__
pycashe/

# allure
allure-results
allure-report

# testing artifacts
*.html
*.json
videos
tracing

*.pyc
# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json

.DS_Store
