<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .redi4 {
            color: red
        }
        h2 {
            font-size: 15px
        }
    </style>
</head>
<body>
<div>
    <h1> h1 texe</h1>
    <h2>ghjhgj</h2>
    <p>рименять принципы <span style="color:green">объектно-ориентированного программиров</span>аnbvcnbvnvbnvbnvbnbvnvbnnbvния для создания структурированных
    программ.</p>
    <a href="https://stepik.org/course/240391/promo#toc" target="_blank">Python </a>
    <img alt="browsergf" src="https://bigdauto.ru/media/cache/50/28/5028d7325b9e1df7d179c77828c23356.png" style="width: 250px">
    <ul>
        <li>item1</li>
        <li>tyuytu</li>
        <li>dgfhgf</li>
    </ul>
    <ol>
        <li>item1</li>
        <li>tyuytu</li>
        <li>dgfhgf</li>
    </ol>
   <form action="/action" method="POST">
        <input type="email" VALUE="@@!$%^7*(%~_+)(+_+)" placeholder="KIRILL268@MI.RU">
        <input type="password" placeholder="TEXT">
        <TEXTAREA placeholder="texr">/TEXTAREA placeholder</TEXTAREA>
        <button class="redi4" type="submit">textd</button>
   </form>
    <table>
        <thead>
        <tr>
            <td> ghdfghfg</td>
            <td> gh87978</td>
            <td> gh000000</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 666666</td>
            <td> 7777777</td>
            <td> 88888888</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>